head {
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar {
    overflow: hidden;
    height: 50px;
    opacity: 0.5;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 31px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  body{
    margin: 0;
    height: 100%;
    width: 100%;
  }
  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url("//demosthenes.info/assets/images/polina.jpg") no-repeat;
    background-size: cover;
    transition: 1s opacity;
  }
  .stopfade {
    opacity: 0;
  }

  #fahk {
    margin-top: 10%;
    width: 100%;
  }

  #div69{
    width: 100%;
  }

  #prova{
    margin-top: 20%;
  }

  #puhk {
    margin-top: 6%;
  }

  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid orange;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    opacity: 0.5;
    margin-bottom: 0;
  }
  .button:hover {
    background: orange;
  }
  .column {
    float: left;
    padding: 10px;
    width: 100%;
  }
  
  .left, .right {
    width: 25%;
    opacity: 0.5;
  }
  
  .middle {
    width: 50%;
    opacity: 0.5;
  }
  table{
    border: 1px solid black;
  }
  #div1, #div2, #div3{
    border: 1px solid black;
  }