.navbar {
    overflow: hidden;
    height: 50px;
    opacity: 0.5;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}